@font-face {
  font-family: "TmonMonsori";
  src: url("/TmonMonsori.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "TmonMonsori", sans-serif;
  background-color: black;
  color: white;
}
